.box {
	width: 200px;
	height: 200px;
	background-color: red;
	/* text-align: center; */
	/* position: relative;
	overflow: hidden; */
	/* animation-name: anim_color; 
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-delay: 1s;
	animation-iteration-count: 2;
	margin-left: 0%;
	animation-fill-mode: initial; */
	/* animation-direction: alternate; */

}
/* img {
	width: 25%;
	left: 80px;
	margin-top: 35%;
	animation-name: anim_color; 
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-delay: 1s;
	animation-iteration-count: 2;
	animation-direction: alternate;
	position: absolute;

} */

/* 0% {
	left: 80px;
}
49% {
	left: 95%;
	margin-left: -50px;
	opacity: 1;
}
50% {
	left: 100%;
	margin-left: -50px;
	opacity: 0;
}
51% {
	left: -50px;
	opacity: 0;
}
55% {
	left: -40px;
	opacity: 1;
}
100%{
	left: 80px;
} */
/* } */
.opening-time {
	background-color: #8c8c8c;
	width: 322px;
	height: 322px;
	text-align: center;
}
.title-p {
	padding: 29px 38px;
	font-size: 20px;
	/* transform: scale(1);
	transform-origin: 50% 50%;
	transition: transform 0.35s; */
}
tr {
	transform: scale(1);
	transform-origin: 50% 50%; 
	transition: transform 0.35s, color 0.35s;
	cursor: pointer;
}
tr:hover {
	transform: scale(1.3);
	color: #000;
}
